@import url("https://fonts.googleapis.com/css2? family = Raleway: wght @ 100; 400; 700 & display = swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(255, 255, 255, 0.301);
  position: fixed;
  width: 100%;
}

.nav__content {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.nav__content li {
  list-style: none;
  padding-right: 100px;
  padding-left: 150px;
}

.nav__content li a {
  text-decoration: none;
  color: rgba(78, 77, 77, 0.774);
  font-size: 20px;
  text-transform: uppercase;
}

.nav__content li a:hover {
  color: #CDC5B4;
}

.main-section {
  background-image: url("../assets/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 25px;
}

.main-section__text h1 {
  color: #fff;
}

.main-section__text p {
  color: #fff;
  padding-top: 20px;
  text-align: center;
  max-width: 800px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
  padding-bottom: 50px;
  font-size: 22px;
}

.about h4 {
  padding-top: 20px;
  color: #CDC5B4;
}

.about p {
  text-align: center;
  padding-top: 20px;
  max-width: 700px;
}

.gallery {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.gallery__item {
  width: 25%;
  height: 100%;
}

.gallery__item:nth-last-of-type(1) {
  background-image: url("../assets/gallery1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__item:nth-last-of-type(2) {
  background-image: url("../assets/gallery2.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.gallery__item:nth-last-of-type(3) {
  background-image: url("../assets/gallery3.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.gallery__item:nth-last-of-type(4) {
  background-image: url("../assets/gallery4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.more-info {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 70%;
  margin: 0 auto;
}

.more-info__title h2 {
  text-align: center;
}

.more-info__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  /* todas las columnas en menos de 260 px*/
  grid-gap: 2rem;
  padding-top: 80px;
  padding-bottom: 40px;
}

.more-info__card {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 3px 5px 15px 5px rgba(187, 187, 187, 0.69);
          box-shadow: 3px 5px 15px 5px rgba(187, 187, 187, 0.69);
}

.more-info__card-img {
  width: 100%;
  height: 40%;
}

.more-info__card-img--1 {
  background-image: url("../assets/card_1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.more-info__card-img--2 {
  background-image: url("../assets/card_2.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.more-info__card-img--3 {
  background-image: url("../assets/card_3.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.more-info__card-content {
  padding: 20px;
}

.more-info__card-content h3 {
  color: #CDC5B4;
  font-weight: bold;
  font-size: 15px;
}

.more-info__card-content p {
  padding-top: 15px;
  color: #b3afaf;
  font-weight: normal;
  font-size: 16px;
}

.footer {
  background-color: #CDC5B4;
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content p {
  max-width: 200px;
  font-size: 17px;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 800px) {
  .more-info {
    max-width: 80%;
    -webkit-box-flex: center;
        -ms-flex: center;
            flex: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */