*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
//fuentes
@import url('https://fonts.googleapis.com/css2? family = Raleway: wght @ 100; 400; 700 & display = swap');
//Imports
@import "./mixins";
//colores
$white: #fff;
$color-primary: #CDC5B4;
//Clases comunes
.container{
    max-width: 90%;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.301);
    position: fixed;
    width: 100%;
    &__content{
        padding-left: 0;
        display: flex;
        justify-content: space-around;
        
        max-width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        li{
            list-style: none;
            padding-right: 100px;
            padding-left: 150px;
            a{
                text-decoration: none;
                color: rgba(78, 77, 77, 0.774);
                font-size: 20px;
                text-transform: uppercase;
                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
}
.main-section{
    @include background-image('../assets/header.jpg', cover, center, no-repeat);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 25px;
        h1{
            color: $white;
        }
        p{
            color: $white;
            padding-top: 20px;
            text-align: center;
            max-width: 800px;
        }
    }
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 22px;
    h4{
        padding-top: 20px;
        color:$color-primary;
    }
    p{
        text-align: center;
        padding-top: 20px;
        max-width: 700px;
        
    }
}

.gallery{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    &__item{
        width: 25%;
        height: 100%;
        &:nth-last-of-type(1){
            @include background-image('../assets/gallery1.jpg', cover, center, no-repeat);

        }
        &:nth-last-of-type(2){
            @include background-image('../assets/gallery2.jpg', cover, bottom, no-repeat);

        }
        &:nth-last-of-type(3){
            @include background-image('../assets/gallery3.jpg', cover, top center, no-repeat);

        }
        &:nth-last-of-type(4){
            @include background-image('../assets/gallery4.jpg', cover, center, no-repeat);

        }
    }
}
.more-info{
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 70%;
    margin: 0 auto;
    &__title{
      h2{
          text-align: center;
      }
    }
    &__cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 40px;
        
    }
    &__card{
        width: 30%;
        height: 400px;
        display: flex;
        flex-direction: column;
        box-shadow: 3px 5px 15px 5px rgba(187,187,187,0.69);
    }
    &__card-img{
        width: 100%;
        height: 40%;
        &--1{
            @include background-image('../assets/card_1.jpeg', cover, center, no-repeat);

        }
        &--2{
            @include background-image('../assets/card_2.jpeg', cover, bottom, no-repeat);

        }
        
        &--3{
            @include background-image('../assets/card_3.jpeg', cover, bottom, no-repeat);

        }
        
       
       
    

    }
    &__card-content{
        padding: 20px;

        h3{
            color: $color-primary;
            font-weight: bold;
            font-size: 15px;
        }
        p{
            padding-top: 15px;
            color: #b3afaf;
            font-weight: normal;
            font-size:16px;
        }
    }
}
.footer{
    background-color: $color-primary;
    padding-top: 40px;
    padding-bottom: 10px;
    &__content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        p{
            max-width: 200px;
            font-size: 17px;
            text-align:center;
            color: white;
            
        }
    }
}
